@using ListOfPeople.Models.View;
@using ListOfPeople.Models;

@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>List of People</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="People" asp-action="Index" method="post">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="person-list">
    @foreach (var person in Model.People)
    {
        <partial name="_PersonPartial" model="person" />
    }
</div>
